div {
  font-family: 'ProximaNova';
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

li {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: inherit;
}
